
{%load static%}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Patricia v - website</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
  <link href=" {% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css '%}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: iPortfolio - v3.3.0
  * Template URL: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <img src="{% static 'assets/img/profile-img.jpg' %}" alt="" class="img-fluid rounded-circle">
        <h1 class="text-light"><a href="index.html">Patrica Vakola</a></h1>
        <div class="social-links mt-3 text-center">
          <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
          <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
          <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
          <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
          <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>
      </div>

      <nav id="navbar" class="nav-menu navbar">
        <ul>
          <li><a href="#hero" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a></li>
          <li><a href="#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>About</span></a></li>
          <li><a href="#resume" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Resume</span></a></li>
          <li><a href="#portfolio" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>Portfolio</span></a></li>
          <li><a href="#services" class="nav-link scrollto"><i class="bx bx-server"></i> <span>Services</span></a></li>
          <li><a href="#contact" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>Contact</span></a></li>
        </ul>
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container" data-aos="fade-in">
      <h1>Patricia Vakola</h1>
      <p>I'm <span class="typed" data-typed-items="Designer, Django Developer, Freelancer, Computer techincian"></span></p>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title">
          <h2>About</h2>
          <p>A reasonable and confident computer studies graduate from Masinde Muliro University of Science and Technology with a good communication skill and a proven good ability in building relationships seeking a position in the IT sector.</p>
        </div>

        <div class="row">
          <div class="col-lg-4" data-aos="fade-right">
            <img src="{% static 'assets/img/profile-img.jpg' %}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
            <h3>Computer science expert &amp; Software Developer.</h3>
            <p class="fst-italic">
              I am skilled personel in web frameworkes such as html,css, javascript and django for web developement.l can confidently say l can work well with these web frameworks.
            </p>
            <div class="row">
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong> <span>23 october</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong><!-- Website:</strong> <span>www.example.com</span></li> -->,
                  <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>+254 721400795</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>Nairobi, Kenya</span></li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span>27</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <span>Bachelors</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>vakola4@gmail.com</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Freelance:</strong> <span>Available</span></li>
                </ul>
              </div>
            </div>
            <p>
              I can work on freelancing jobs on web developement using html, css, js and django for the backend development.l am a fullstack developer and a self motivated person that puts a clients intrest first.l always strive to deliver my work as per a clients needs and that is my greatest goal.
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Facts Section ======= -->
    <section id="facts" class="facts">
      <div class="container">

        <div class="section-title">
          <h2>Facts</h2>
          <p>I am self motivated and always willing to learn new 
          things.i am good listener and slow to anger.I work under minimal supervion and always strive  to deliver my best</p>
        </div>

        </div>

      </div>
    </section><!-- End Facts Section -->

    <!-- ======= Skills Section ======= -->
    <section id="skills" class="skills section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Skills</h2>
          <p>Being a computer science graduate from the Masinde Muliro University of science and technology l have a wide rage of skills in the computer science space ranging from computer hardware,computer software,computer networking ,web development and database management.</p>
        </div>

        <div class="row skills-content">

          <div class="col-lg-6" data-aos="fade-up">

            <div class="progress">
              <span class="skill">HTML <i class="val">100%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">CSS <i class="val">90%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Machine learning <i class="val">65%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">

            <div class="progress">
              <span class="skill">Django <i class="val">80%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">python <i class="val">70%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">javascript <i class="val">55%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

          </div>

        </div>

      </div>
    </section><!-- End Skills Section -->

    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
      <div class="container">

        <div class="section-title">
          <h2>Resume</h2>
          <p>A reasonable and confident computer science graduate from Masinde Muliro University of Science and Technology with a good communication skill and a proven good ability in building relationships seeking a position in the IT sector.  .</p>
        </div>

        <div class="row">
          <div class="col-lg-6" data-aos="fade-up">
            <h3 class="resume-title">Sumary</h3>
            <div class="resume-item pb-0">
              <h4>Patricia Vakola</h4>
              <p><em>Innovative and deadline-driven Web Designer with years of experience designing and developing user-centered web projects from initial concept to final, polished deliverable.</em></p>
              <ul>
                <li>P.o box 1032</li>
                <li>(+254)721400795</li>
                <li>vakola4@gmail.com</li>
              </ul>
            </div>

            <h3 class="resume-title">Education</h3>
            <div class="resume-item">
              <h4>Bachelors in computer science </h4>
              <h5>2017 - 2021</h5>
              <p><em>Masinde Muliro University Of Science and Technology, Kakamega -Kenya</em></p>
              <p>
                  Relevant modules a includes; database management, programming in Html,Css ,Javascript, java, C++  ,C# and python. Machine learning and neural networks. Basic skills on network configuration and maintenance undertaken during the industrial training module and industrial attachment.
              </p>
            </div>
            <div class="resume-item">
              <h4>Certificate in Networking &amp; CCNA Routing and switching  </h4>
              <h5>2010 - 2014</h5>
              <p><em>KCA University, Kisumu</em></p>
              <p>
                  introduction to networking,network protocols,networking tools and crimping and laying of network cables,
              </p>
            </div>
          </div>
           <div class="resume-item">
              <h4>Diploma in Computer studies&amp; Technical skills  </h4>
              <h5>2014 - 2017</h5>
              <p><em>The Kisumu National Polytechnic,Kisumu</em></p>
              <p>
                  Relevant modules include; computer application, computer repair and maintenance, networking microprocessor technology and industrial organization management.   Communication skills and digital ectronics.  
              </p>
            </div>
          </div>
             <div class="resume-item">
              <h4>Kenya Certifificate of Secondary Education  </h4>
              <h5>2009 - 2013</h5>
              <p><em>Kibomet secondary school</em></p>
              <p>
                  Grade attained B-  
              </p>
            </div>
          </div>
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <h3 class="resume-title">Professional Experience</h3>
            <div class="resume-item">
              <h4>Junior Ict officer</h4>
              <h5>2021 may - July 2021</h5>
              <p><em>County Gorverment of Trans-Nzoia, Kitale, Kenya </em></p>
              <ul>
                <li>Computer system  hardware servicing</li>
                <li>Networking of computers and structured cabling. </li>
                <li>installation and update of systems</li>
                <li>software installation and updating</li>
                 <li>IT help desk support services</li>
              </ul>
            </div>
                       <div class="resume-item">
              <h4>Junior Ict officer</h4>
              <h5>2015 may - July 2015</h5>
              <p><em>Trans-National Times Sacco, Kitale, Kenya </em></p>
              <ul>
                <li>Computer system  hardware servicing</li>
                <li>Networking of computers and structured cabling. </li>
                <li>customer care services</li>
                <li>installation and update of systems</li>
                <li>software installation and updating</li>
                 <li>IT help desk support services</li>
              </ul>
            </div>
            <div class="resume-item">
              <h4>Web developement</h4>
              <h5>2020 - 2021</h5>
              <p><em>Worked on personal projects</em></p>
              <ul>
                <li>Developed  a personal portfolio website for myself using html,css javascript  bootstrap and django.</li>
                <li>worked on my own blog website that l build using django and mysqlite databases</li>
                <li>worked on a neural network model to predict the presence or absence of a car on a parking space using python and convonutional neural network.</li>
                <li>learnt on how to host some of my works online</li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Resume Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Portfolio</h2>
          <p>These section contains the codes of some of the projects l have worked on some of which might not be available to the public but incase on is intrested in checking them they can get in touch with me l will be wiling to share.</p>
        </div>

        <div class="row" data-aos="fade-up">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-app">Applications</li>
              <li data-filter=".filter-card">Web development</li>
              <li data-filter=".filter-web">Others</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="{% static 'assets/img/portfolio/portfolio-1.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="{% static 'assets/img/portfolio/portfolio-1.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

        
    </section><!-- End Portfolio Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container">

        <div class="section-title">
          <h2>Services</h2>
          <p>Most of the works l have worked on are availabe incase one is intrested to check them out am willing to share the codes for anyone intrested</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">
            <div class="icon"><i class="bi bi-briefcase"></i></div>
            <h4 class="title"><a href="">website design</a></h4>
            <p class="description">
                I have skils on various programming language including python html,css django web frameworks. I have used the html and css frameworks in coming up with my portfolio website.I used python in coming up with my final 4th year project to create a machine learning model that can predict weather a parking space is either free or full
            </p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
            <div class="icon"><i class="bi bi-card-checklist"></i></div>
            <h4 class="title"><a href="">hardware repair and maintainace</a></h4>
            <p class="description">I can offer computer hardware repair and maintaince services skills l obtained during my industral training period at the university at at second year and also during my various organizational interships.</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
            <div class="icon"><i class="bi bi-bar-chart"></i></div>
            <h4 class="title"><a href="">Machine learning skills</a></h4>
            <p class="description">ln my undergraduate course i did machine learning module.Neural network module in my forth year.using python programming language skilled l had l used the knowledge l got to do my fourth year project that used a neural network model to predicict the absence or presence of a parking space in a parking slot</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
            <div class="icon"><i class="bi bi-binoculars"></i></div>
            <h4 class="title"><a href="">support services</a></h4>
            <p class="description">I can offer customer support services skills l obtained during my industral internship period at the various organizations I have worked in organizations as an intern.i can work well as a customer care officer in the various organizations and most of my tasks included customer support services.</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
            <div class="icon"><i class="bi bi-brightness-high"></i></div>
            <h4 class="title"><a href="">Database skils</a></h4>
            <p class="description">Apart of  the database module that i took in my undergraduate class  l  have practised my database skills by working with MYSQL ,SQLlite and postgress databases that have majorly used in python modules in my various engagement.</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="500">
            <div class="icon"><i class="bi bi-calendar4-week"></i></div>
            <h4 class="title"><a href="">ArcGIS pro skills</a></h4>
            <p class="description">I have worked with arcGis pro to come up with a organinazation based navigation map for the university.these map was able to give specific location of different departments within the university.It was a mobile map based application that can be accesed by users directly from their mobile phones.</p>
          </div>
        </div>

      </div>
    </section><!-- End Services Section -->

   ?
  
        <div class="row" data-aos="fade-in">

          <div class="col-lg-5 d-flex align-items-stretch">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>P.o Box 1032-30200, Kitale, Kenya</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>vakola4@gmail.com</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>+254 721400795>
              </div>

              <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
            </div>

          </div>

          <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="form-group col-md-6">
                  <label for="name">Your Name</label>
                  <input type="text" name="name" class="form-control" id="name" required>
                </div>
                <div class="form-group col-md-6">
                  <label for="name">Your Email</label>
                  <input type="email" class="form-control" name="email" id="email" required>
                </div>
              </div>
              <div class="form-group">
                <label for="name">Subject</label>
                <input type="text" class="form-control" name="subject" id="subject" required>
              </div>
              <div class="form-group">
                <label for="name">Message</label>
                <textarea class="form-control" name="message" rows="10" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>tricia@2021</span></strong>
      </div>
      <div class="credits">
       
        Designed by <a href="https://bootstrapmade.com/">patriciavakola</a>
      </div>
    </div>
  </footer><!-- End  Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'assets/vendor/purecounter/purecounter.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/typed.js/typed.min.js' %}"></script>
  <script src="{% static 'assets/vendor/waypoints/noframework.waypoints.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js ' %}"></script>

</body>

</html>